.container {
    height: 95vh;
    width: 100vw;
}

.search-user {
    display: flex;
}

.search-user img {
    height: 40px;
    width: 40px;
}

.search-user Button {
    width: 100px;
    background-color: rgb(26, 26, 26);

    &:hover {
        background: rgb(53, 52, 52);
    }
}

.heading {
    width: 100%;
    margin: 25px 0px;

}

.heading h2 {
    text-align: center;
}

.profile {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
    padding: 20px;
}

.profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.profile-user-details div {
    display: flex;
}

.profile-user-details div h1 {
    font-size: 18px;
}

.profile-user-details div h1 span {
    font-size: 15px;
    font-weight: 500;
}

.user-content {
    width: 100%;
    display: flex;
}

.user-content button {
    margin-right: 10px;
    border-radius: 5px;
}

@media (max-width:800px) {
.profile{
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 20px;
}
}

@media (max-width:500px) {
.profile{
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 20px;
}
.user-content {
    display: flex;
    flex-direction: column;
}
.user-content button{
    margin: 5px 0px;
}
}

.main-repos-page{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.user-repo{
    width: 100%;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(226, 239, 236);
    word-wrap: break-word;
}
.user-repo h3{
    font-size: 20px;
    color: brown;
}
.language{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.user-repo p , .language p{
    font-size: 20px;
    font-weight: 700;
}
.user-repo p span , .language p span{
    font-size: 20px;
    font-weight: 500;
}
@media (max-width:800px) {
    .main-repos-page{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    }
